body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  background: #FDFCEF;
}

.wrapper {
  padding: 60px 250px 0 250px;
  margin: 0 auto;
  width: 1110px;
}

.section-conteiner {
  margin-bottom: 120px;
}

/* logo  */
.logo {
  margin: 0 928px 82px 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

/* section 1 */

.header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.image-cow {
  transition: all 0.5s ease;
}

.image-cow:hover {
  border-radius: 250px;
}

.text-conteiner {
  margin-right: 180px;  
}

.text-header {
  width: 465px;
  font-size: 50px;
  line-height: 140%;
  margin-bottom: 30px;
}

.conent-text {
  margin-bottom: 30px;
}

.btn {
  text-decoration: none;
  font-weight: 700;
  color: white;
  background-color: #FF6861;
  border-radius: 100px;
  padding: 22px 70px;
  display: block;
  width: 87px;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: #ff3b3b;
}

/* section 2 */

.list-conteiner {
  display: flex;
  margin-bottom: 41px;
}

.saction-two {
  margin-left: 190px;
  margin-right: 190px;
  width: 720px;
}


.text-section-title {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  font-size: 40px;
}


.image-shoes {
 margin-right: 34px;
}

.text-item-first {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 11px;
  
}

.text-item-second {
  font-weight: 500;
}


/* section 3 */

.saction-third {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background: linear-gradient(102deg, #FFF6DF 17.38%, #FFDFDE 81.25%);
  border-radius: 60px;
  height: 486px;
}

.image-ladybug {
  margin: 100px 125px 99px 101px;
  transition: all 0.5s ease-in;
}

.image-ladybug:hover {
  background: linear-gradient(180deg, #FFE195 0%, #FF5B5B 100%);
  border-radius: 70px;
}

.text-conent-ladybug {
  margin: 76px auto 75px 122px;
  width: 475px;
}

.title-section-third {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  margin-bottom: 24px;
}

.text-section-third {
  font-weight: 500;
  margin-bottom: 24px;
}

/* footer  */

.footer {
  font-size: 15px;
  font-weight: 500;
  
}

.footer-conteiner {
  padding-bottom: 120px;
  text-align: center;
}