body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  background: #fdfcef;
}

.wrapper {
  padding: 60px 250px 0 250px;
  margin: 0 auto;
  width: 1110px;
}

.section-conteiner {
  margin-bottom: 120px;
}

/* logo  */
.logo {
  margin: 0 auto;
  padding-bottom: 82px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* section 1 */

.header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.image-cow {
  transition: all 0.5s ease;
}

.image-cow:hover {
  border-radius: 250px;
}

.text-conteiner {
  margin-right: 180px;
}

.text-header {
  width: 465px;
  font-size: 50px;
  line-height: 140%;
  margin-bottom: 30px;
}

.conent-text {
  margin-bottom: 30px;
}

.btn {
  text-decoration: none;
  font-weight: 700;
  color: white;
  background-color: #ff6861;
  border-radius: 100px;
  padding: 22px 70px;
  display: block;
  width: 87px;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: #ff3b3b;
}

/* section 2 */

.list-conteiner {
  display: flex;
  margin-bottom: 41px;
}

.saction-two {
  margin-left: 190px;
  margin-right: 190px;
  width: 720px;
}

.text-section-title {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  font-size: 40px;
}

.image-icon {
  margin-right: 34px;
}

.text-item-first {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 11px;
}

.text-item-second {
  font-weight: 500;
}

/* section 3 */

.saction-third {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background: linear-gradient(102deg, #fff6df 17.38%, #ffdfde 81.25%);
  border-radius: 60px;
  height: 486px;
}

.image-ladybug {
  margin: 100px 125px 99px 101px;
  transition: all 0.5s ease-in;
}

.image-ladybug:hover {
  background: linear-gradient(180deg, #ffe195 0%, #ff5b5b 100%);
  border-radius: 70px;
}

.text-conent-ladybug {
  margin: 76px auto 75px 122px;
  width: 475px;
}

.title-section-third {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  margin-bottom: 24px;
}

.text-section-third {
  font-weight: 500;
  margin-bottom: 24px;
}

/* footer  */
.footer-conteiner {
  padding-bottom: 120px;
}

.footer-text {
  margin: 0 auto;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

/* Responsive */

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
  .wrapper {
    max-width: 960px;
    align-items: center;
    padding: 0;
    margin: 0 auto;
  }

  .section-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-cow {
    width: 465px;
  }

  .text-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 51px;
  }

  .text-header {
    width: 670px;
  }

  .text-header {
    text-align: center;
  }

  .saction-third {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px 400px 100px;
  }

  .text-conent-ladybug {
    padding: 0;
    margin: 0;
    align-items: center;
    text-align: center;
  }

  .title-section-third {
    align-items: center;
  }

  .text-section-third {
    padding-left: 50px;
    width: 371px;
  }

  #button-two {
    margin-left: 120px;
  }
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
  .wrapper {
    max-width: 720px;
  }
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
  .wrapper {
    max-width: 540px;
  }

  .logo {
    padding-top: 50px;
  }

  .image-cow {
    width: 320px;
  }

  .text-conteiner {
    width: 320px;
  }

  .text-header {
    width: 320px;
  }

  .conent-text {
    text-align: center;
  }

  .saction-two {
    width: 320px;
  }

  .text-section-title {
    text-align: center;
  }

  .list-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .image-icon {
    margin: 0;
  }

  .saction-third {
    padding: 0 0 400px 0;
  }

  .image-ladybug {
    margin: 100px;
  }
}
/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
  .wrapper {
    padding: 0 15px;
  }
}
