body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  padding: 60px 250px 0 250px;
  margin: 0 auto;
  width: 1110px;
}

.section-conteiner {
  margin-bottom: 120px;
}

/* logo  */
.logo {
  margin: 0 928px 82px 0;
}

/* section 1 */

.header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.text-conteiner {
  margin-right: 180px;  
}

.text-header {
  width: 465px;
  font-size: 50px;
  line-height: 140%;
  margin-bottom: 30px;
}

.conent-text {
  margin-bottom: 30px;
}

.btn {
  text-decoration: none;
  font-weight: 700;
  color: white;
  background-color: #FF6861;
  border-radius: 100px;
  padding: 22px 70px;
  display: block;
  width: 87px;
}
